In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

visa_df=pd.read_csv('Visadataset.csv')
cat_cols=visa_df.select_dtypes(include='object').columns
num_cols=visa_df.select_dtypes(exclude='object').columns

In [8]:
#Frequency table
#we have 2 methods
#method-1 : using unique & for loop
#method-2: using value counts(method)
visa_df=pd.read_csv('Visadataset.csv')
cont_data=visa_df['continent'].value_counts()
con_keys=cont_data.keys()
con_values=cont_data.values
cols=['Continent','Number of applicants']
cont_df1=pd.DataFrame(zip(con_keys,con_values),columns=cols)
cont_df1

       Continent  Number of applicants
0           Asia                 16861
1         Europe                  3732
2  North America                  3292
3  South America                   852
4         Africa                   551
5        Oceania                   192

In [ ]:
#above codde cannot be repeated for repeated continents to export as excel

In [15]:
import os
folder='frequency_table_2'
new_dir=os.path.join(os.getcwd(),folder)
os.makedirs(new_dir)

In [13]:
for i in cat_cols[1:]:
    print(f"{new_dir}\{i}.csv")

C:\Users\aravi\Documents\DataFrameOperationsfrequency_table_2\continent.csv
C:\Users\aravi\Documents\DataFrameOperationsfrequency_table_2\education_of_employee.csv
C:\Users\aravi\Documents\DataFrameOperationsfrequency_table_2\has_job_experience.csv
C:\Users\aravi\Documents\DataFrameOperationsfrequency_table_2\requires_job_training.csv
C:\Users\aravi\Documents\DataFrameOperationsfrequency_table_2\region_of_employment.csv
C:\Users\aravi\Documents\DataFrameOperationsfrequency_table_2\unit_of_wage.csv
C:\Users\aravi\Documents\DataFrameOperationsfrequency_table_2\full_time_position.csv
C:\Users\aravi\Documents\DataFrameOperationsfrequency_table_2\case_status.csv

In [14]:
for i in cat_cols[1:]:
    data=visa_df[i].value_counts()
    keys=data.keys()
    values=data.values
    cols=['Lables','Count']
    df1=pd.DataFrame(zip(keys,values),columns=cols)
    df1.to_csv(f'{new_dir}\{i}_frequency_table.csv')