In [ ]:
# we learned how to create Frequency table without method

#

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
visadf= pd.read_csv('Visadataset.csv')
visadf['continent'].value_counts()

continent
Asia             16861
Europe            3732
North America     3292
South America      852
Africa             551
Oceania            192
Name: count, dtype: int64

In [2]:
visadf['continent'].value_counts().keys()

Index(['Asia', 'Europe', 'North America', 'South America', 'Africa',
       'Oceania'],
      dtype='object', name='continent')

In [4]:
visadf['continent'].value_counts().values

array([16861,  3732,  3292,   852,   551,   192], dtype=int64)

In [17]:
cont_data=visadf['continent'].value_counts()
con_keys=cont_data.keys()
cont_values=cont_data.values
cols=['Continent','Number of Applicants']
count_df1=pd.DataFrame(zip(con_keys,cont_values),columns=cols)
count_df1.to_excel('HURRAYEXCELAUG30.xlsx',index=False)

In [23]:
for i in cat_cols[1:]:
    print(i)

NameError: name 'cat_cols' is not defined

**Method 2 :using forloop**

In [18]:
count_labels=visadf['continent'].unique()
count=[]
for i in count_labels:
    visadf['continent']
    con=visadf['continent']==i
    visadf[con]
    count.append(len(visadf[con]))

countdf2=pd.DataFrame(zip(count_labels,count),columns=['Continent','Number of Applicants'])
countdf2.to_csv('HURRAYAUG30.csv',index=False)

In [ ]:
# unique will give: keys in sorting order
# value counts give: values in sorting order

In [ ]:
**task-2**

- create all categorical column frequency table usinng value_counts

- usinng python create one directory with name **frequncy table**

- you need to iterate each column , but each column has different labels 

- provide one column name as **Lable**

- another column name as **count**

In [ ]:
cont_data=visadf['continent'].value_counts()
con_keys=cont_data.keys()
cont_values=cont_data.values
cols=['Continent','Number of Applicants']
count_df1=pd.DataFrame(zip(con_keys,cont_values),columns=cols)
count_df1.to_excel('HURRAYEXCELAUG30.xlsx',index=False)

**create a folder**

- Step 1: get current working directory

- ste 2: what is your new folder name

- step 3: join both

- ste 4 : make directory

In [19]:
import os
cwd=os.getcwd()
folder_name='frequency_table'
new_dir=os.path.join(cwd,folder_name)
try:
    os.makedirs(new_dir)
except Exception as e:
    print(e)

In [22]:
for i in cat_cols[1:]:
    print(f'{new_dir}\\{i}_info.csv')

NameError: name 'cat_cols' is not defined